<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table id="users">
  <thead>
    <th>Name</th>
    <th>email</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= "#{user.first_name} #{user.last_name}" %></td>
      <td><%= user.email %></td>
      <td><%= link_to "View", user_path(user) %> | <%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path, class: "button" %>
